@import '../utils/vars';
@import '../base/base';


.page__header {
  border-bottom: 1px solid $header-color;

  .header__navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    background: $focus-color;
    display: flex;
    align-items: center;

    .navigation__list {
      display: flex;

      .list__item {
        @extend .unstyled;
        display: flex;
        gap: 50px;
        flex-grow: 1;
        padding: 32px 0px;

        .item__bar a {
          color: $logo-color;

          &:hover {
            @extend .hover;
            color: $hover-color;
          }
        }

        .--border__after {
          position: relative;

          &::after {
            content: "";
            border: 2px solid $hover-color;
            width: 100%;
            position: absolute;
            bottom: -46px;
            border-radius: 4px;
            visibility: visible;
            left: 0;
          }
        }
      }
    }

    .navigation__contact {
      @extend .unstyled;
      display: flex;
      gap: 50px;
      justify-content: flex-end;
      flex-grow: 1;


      .contact__mail,
      .contact__phone {
        fill: $text-contact;

        &:hover {
          @extend .hover;
          fill: $hover-color;
        }
      }

      .contact__mail a,
      .contact__phone a {
        color: $text-contact;

        &:hover,
        &:focus {
          @extend .hover;
          color: $hover-color;
        }
      }

    }
  }
}