@import '../utils/vars';
@import '../base/base';

.page__header {
  border-bottom: 1px solid $header-color;

  .header__navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    background: $focus-color;
    display: flex;
    align-items: center;

    .navigation__list {
      display: flex;

      .list__item {
        display: flex;
        gap: 50px;

        .--border__after {
          position: relative;

          &::after {
            content: "";
            border: 2px solid var(--hover-color);
            width: 100%;
            position: absolute;
            bottom: -46px;
            border-radius: 4px;
            visibility: visible;
            left: 0;
          }
        }
      }
    }

    .navigation__contact {
      display: flex;
      gap: 50px;

      .contact__mail,
      .contact__phone {
        fill: $text-contact;
      }
    }
  }
}