@import '../utils/vars';
@import '../base/base';

.section__subtitle{
    @extend .global-center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 16;
    letter-spacing: 0.03em;
    color:$icon-color;
    margin-bottom: 50px; 
}
.section__images{
    
}