@import '../utils/vars';

.logo{
    text-decoration: none;
    color: $hover-color;
    font-family: 'Raleway' sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    display: flex;
    padding-right: 93px;

    &::after{
        content: "Studio";
        color:$logo-color;
    }
}